allennlp==2.9.3
arrow==1.2.2
bert-score==0.3.11
colorama==0.4.5
datasets==2.3.2
editdistance==0.6.0
filelock==3.6.0
flair==0.11.3
language_tool_python==2.7.1
lemminflect==0.2.2
lru-dict==1.1.7
more_itertools==8.13.0
networkx==2.8.4
nlpaug==1.1.10
nltk==3.7
num2words==0.5.10
numpy==1.22.4
overrides==3.1.0
pandas==1.4.2
psutil==5.9.1
pytorch_lightning==1.6.4
PyYAML==6.0
query==0.1.4
requests==2.28.0
scikit_learn==1.1.1
scipy==1.8.1
stanza==1.4.0
tabulate==0.8.9
tensorflow==2.9.1
terminaltables==3.1.10
torch==1.11.0
torchmetrics==0.9.1
pytorch-nlp==0.5.0
tqdm==4.64.0
transformers==4.18.0
word2number==1.1
